# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Makefile.conf
Makefile.conf.bak
aodoom.avi
aodoom.bin
codec/
include/api.h
include/sys_def/lang.h
lang/
medios.lds
medios/api/api.c
medios/include/target/DM320/AV5XX/mem_def.h
medios/include/target/DM320/arch
medios/include/target/chip
medios/kernel/api_fct_list.h
medios/kernel/lang_data.bin
tools/bin2exploit/av500fw1312avi.tpl
tools/bin2exploit/av500fw1312loader.bin
tools/buildTools/addSize
tools/lang/deutsch.lng
tools/lang/english.lng
tools/lang/francais.lng
tools/lang/script/mkLng
ArchOpen/trunk/include/api.h
ArchOpen/trunk/include/sys_def/lang.h
ArchOpen/trunk/medios/api/api.c
ArchOpen/trunk/medios/include/target/DM320/AV5XX/mem_def.h
ArchOpen/trunk/medios/include/target/DM320/arch
ArchOpen/trunk/medios/include/target/chip
ArchOpen/trunk/medios/kernel/api_fct_list.h
ArchOpen/trunk/medios/kernel/lang_data.bin
ArchOpen/trunk/tools/bin2exploit/av500fw1312avi.tpl
ArchOpen/trunk/tools/bin2exploit/av500fw1312loader.bin
ArchOpen/trunk/tools/buildTools/addSize
ArchOpen/trunk/tools/api_files/create_api_c
ArchOpen/trunk/tools/api_files/create_api_fct_list_h
ArchOpen/trunk/tools/api_files/create_api_h
ArchOpen/trunk/tools/api_files/mk_file
ArchOpen/trunk/tools/lds_files/create_lds
